{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Part 2: Check-up Questions
{% endblock %}

{% block content %}
<h1 style="font-size: 35px;">Part 2: Check-up Questions (2 / 2)</h1>

<h5>Imagine that you are given an initial fund of 100 experiment points and you are asked to decide whether to aceept risky gambles in a series of trials. In the end, the gamble shown in the figure is selected to count for your final payment, then:</h5>

<body>

  <article class="figure">
    <section>
      <article class="box_left" id="option_left">

        <div class="gamble_div_left">
          <p class = "gamble_txt"> +70 </p>
        </div>

      </article>

      <article class="box_right" id="option_right">

        <div class="gamble_div_right">
          <p class = "gamble_txt"> –35 </div>

      </article>
    </section>
  </article>

  <article class="text">
    <!-- <br> -->
    <!-- <h5>Imagine that you are given an initial fund of 100 experiment points and you are asked to decide whether to aceept risky gambles in a series of trials. In the end, the gamble shown in the figure is selected to count for your final payment, then:</h5> -->
    <!-- <p>For the lottery shown in the Figure 2:</p> -->
    <!-- <br> -->
    {% formfield player.cq2_1 with label="1. If you chose to reject this gamble, what is your final payment?" %}

    {% formfield player.cq2_2 with label="2. If you chose to accept this gamble and you lose, what is your final payment?" %}

    {% formfield player.cq2_3 with label="3. If you chose to accept this gamble and you win, what is your final payment?" %}


    <br>

    <button class="btn btn-primary btn-large">
      Next
    </button>

  </article>

</body>


<style type="text/css">

  .otree-title {
    font-size: 0;
  }

  /* h4 {
    text-decoration: underline;
  } */

  /* .text {
    width: 100%;
  } */

  .text {
    float: right;
    width: 50%;
    padding: 10px;
  }

  .figure {
    float: right;
    width: 50%;
    padding: 10px;

    position: relative;
    top: 15px;
  }

  section {
    padding: 20px;
    vertical-align: middle;
    height: 300px;
    background-color: black;

    /* the transparent border is not necessary in the current study */
    /* box-sizing: border-box;
    border: 5px solid transparent; */
  }

  section p {
    color: white;
  }

  .box_left {
    float: left;
    width: 40%;

    /* background-color: red; */
  }

  .box_right {
    float: right;
    width: 40%;

    /* background-color: blue; */
  }

  .gamble_div_left {
    text-align: right;
    margin: 0 auto;
  }

  .gamble_div_right {
    text-align: left;
    margin: 0 auto;
  }

  .gamble_txt {
    /* font-family: "Times New Roman", Times, serif; */
    font-weight: 300;
    font-size: 80px;
    position: relative;
    top: 66px;
  }

</style>


{% endblock %}
