{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Part 2: Instructions
{% endblock %}

{% block content %}
<h1 style="font-size: 35px;">Part 2: Instructions</h1>

<body>

  <article class="figure">
    <section>
      <article class="box_left" id="option_left">

        <div class="gamble_div_left">
          <p class = "gamble_txt"> +65 </p>
        </div>

      </article>

      <article class="box_right" id="option_right">

        <div class="gamble_div_right">
          <p class = "gamble_txt"> –45 </div>

      </article>
    </section>
  </article>

  <article class="text">
    <h4>Investment Decisions and Your Payment:</h4>
    <!-- use the paragraph below in real experiments -->
    <p>You are now given an initial fund of 100 Experiment Points (= £5), and you are asked to make investment decisions by choosing whether to accept risky gambles. In total, 200 trials will be presented to you. In each trial, you are asked to decide whether to accept a gamble that has an equal probability of winning and losing certain monetary values, expressed in the experiment points. Completing all trials on average takes about 15 to 30 minutes, but you can spend as much time as you want to make decisions.</p>

    <!-- <p>You are now given an initial fund of 100 Experiment Points (= £5), and you are asked to make investment decisions by choosing whether to accept risky gambles. In total, 50 trials will be presented to you. In each trial, you are asked to decide whether to accept a gamble that has an equal probability of winning and losing certain monetary values, expressed in the experiment points. Completing all trials on average takes about 10 minutes, but you can spend as much time as you want to make decisions.</p> -->

    <p>An example trial is shown in the figure on the right. The amount of points in events of winning and losing are indicated by the plus and minus signs, respectively ("+" and "–"). As such, the figure shows a gamble that has 50 percent chance of winning 65 points and 50 percent chance of losing 45 points. To note, the side of display of reward and loss values on the screen will vary from trial to trial.</p>

    <p>After completing this section, one random trial will be selected to count. If you chose to accept the gamble in that trial, the computer will decide whether you have won the gamble. In case of winning, the reward will be added to your intial fund of 100 points; in case of losing, the loss will be deducted from your intial fund. On the other hand, if you chose to reject the gamble, you will not receive the outcome of the gamble and keep the 100 points that is initally assigned to you.</p>

  </article>

  <article>
    <h4>Further Instructions:</h4>

    <p>To make decisions, you can press the <b>Up Arrow key (&#8593;)</b> to <b>accept</b> a gamble, and press the <b>Down Arrow key (&#8595;)</b> to <b>reject</b> a gamble. The Up and Down Arrow keys are located on the bottom-right of a standard keyboard. You can keep your right hand near the arrow keys at all times during this part, to make it easier. Before starting the actual trials, we prepared a short practice session for you to get familiar with how to make decisions in this section.</p>

    <!-- use the paragraph below in real experiments -->
    <p>When the trials start, we would like to ask you to maximise your browser and concentrate on making investment decisions without interruptions. You will have opportunity to take three breaks after the trial 50, 100 and 150.</p>

    <!-- <p>When the trials start, we would like to ask you to maximise your browser and concentrate on making investment decisions without interruptions. You will have opportunity to take a break after the trial 25.</p> -->

    <p>To make sure the rules are clearly understood, we prepared a number of check-up questions in the next page.</p>


    <!-- <p>Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test.</p> -->

    <br>
    <button class="btn btn-primary btn-large">
      Next
    </button>

  </article>

</body>

{% endblock %}

{% block styles %}
<style type="text/css">

  .otree-title {
    font-size: 0;
  }

  h4 {
    text-decoration: underline;
  }

  .text {
    width: 100%;
  }

  .figure {
    float: right;
    width: 50%;
    padding: 10px;
    /* height: 300px; */
  }

  section {
    padding: 20px;
    vertical-align: middle;
    height: 300px;
    background-color: black;

    /* the transparent border is not necessary in the current study */
    /* box-sizing: border-box;
    border: 5px solid transparent; */
  }

  section p {
    color: white;
  }

  .box_left {
    float: left;
    width: 40%;

    /* background-color: red; */
  }

  .box_right {
    float: right;
    width: 40%;

    /* background-color: blue; */
  }

  .gamble_div_left {
    text-align: right;
    margin: 0 auto;
  }

  .gamble_div_right {
    text-align: left;
    margin: 0 auto;
  }

  .gamble_txt {
    /* font-family: "Times New Roman", Times, serif; */
    font-weight: 300;
    font-size: 80px;
    position: relative;
    top: 66px;
  }





</style>
{% endblock %}
