{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Part 3: Start the actual trials
{% endblock %}

{% block content %}
<h1 style="font-size: 35px;">Part 3</h1>

<div class="final_instructions">
  <p>Now you have completed the practice session. Before starting the actual trials, we would like to once again ask you to: <br> (1) Maximise the browser. <br> (2) concentrate on making investment choices without interruptions, until reaching the resting points after the trial 72 and 144.</p>

  <p> On average, completing all trials takes about 20 to 30 minutes, but you can spend as much time as you want to make decisions.</p>

  <p>When you are ready, click the button below to begin.</p>

  <br>
  <button class="btn btn-primary btn-large">
    Start the actual trials
  </button>

</div>

<style>
.otree-title {
  font-size: 0;
}

</style>

{% endblock %}
