{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Part 1 Section 2 ({{number}} / {{s1_total}})
{% endblock %}

{% block content %}
<h1 style="font-size: 35px;">Part 1 Section 2 ({{number}} / {{s1_total}})</h1>

<body onload="setStartTime()">

  <h3>Please select the answer to the question:</h3>

  {% formfield player.crt1 with label="A bat and a ball cost £1.10 in total. The bat costs £1.00 more than the ball. How much does the ball cost?" %}

</body>

<button class="btn btn-primary btn-large" onclick="end()">
  Next
</button>

<input type="hidden" name="dt_start" id="id_jsdectime_start" value=0>
<input type="hidden" name="dt_end" id="id_jsdectime_end" value=0>

<script>
  function setStartTime() {
    var d = new Date();
    document.getElementById('id_jsdectime_start').value = d.getTime();
  }
  function end() {
    var d = new Date();
    document.getElementById('id_jsdectime_end').value = d.getTime();
  }
</script>

<style>
.otree-title {
  font-size: 0;
}

</style>

{% endblock %}
