{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Part 1 Section 3 ({{number}} / {{CRT_total}})
{% endblock %}

{% block content %}
<h1 style="font-size: 35px;">Part 1 Section 3 ({{number}} / {{CRT_total}})</h1>

<body onload="setStartTime()">

  <h3>Please select the answer to the question:</h3>

  {% formfield player.crt3 label="In a lake, there is a patch of lily pads. Every day, the patch doubles in size. If it takes 48 days for the patch to cover the entire lake, how long would it take for the patch to cover half of the lake?" %}

</body>

<button class="btn btn-primary btn-large" onclick="end()">
  Next
</button>

<input type="hidden" name="dt_start" id="id_jsdectime_start" value=0>
<input type="hidden" name="dt_end" id="id_jsdectime_end" value=0>

<script>
  function setStartTime() {
    var d = new Date();
    document.getElementById('id_jsdectime_start').value = d.getTime();
  }
  function end() {
    var d = new Date();
    document.getElementById('id_jsdectime_end').value = d.getTime();
  }
</script>

<style>
.otree-title {
  font-size: 0;
}

</style>

{% endblock %}
