{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Part 1 Section 1
{% endblock %}

{% block content %}
<h1 style="font-size: 35px;">Part 1 Section 1</h1>

<body onload="setStartTime()">

  <h3>Please answer the flollowing questions:</h3>

  {% formfield player.MU1 label="Have you received a coronavirus (COVID-19) vaccination?" %}

  {% formfield player.MU2 label="How effective do you think wearing a mask can help to reduce the spread of the coronavirus?" %}

  {% formfield player.MU3 label="How likely are you to wear a mask the next time you enter a grocery store?" %}

  {% formfield player.MU4 label="How likely are you to wear a mask the next time you enter indoor retail (nongrocery) establishment, such as a department store?" %}

  {% formfield player.MU5 label="How likely are you to wear a mask the next time you enter outdoor retail establishment or kiosk, such as an ice cream stand?" %}

  {% formfield player.MU6 label="How likely are you to wear a mask the next time you enter a public park or beach?" %}


</body>

<button class="btn btn-primary btn-large" onclick="end()">
  Next
</button>

<input type="hidden" name="dt_start" id="id_jsdectime_start" value=0>
<input type="hidden" name="dt_end" id="id_jsdectime_end" value=0>

<script>
  function setStartTime() {
    var d = new Date();
    document.getElementById('id_jsdectime_start').value = d.getTime();
  }
  function end() {
    var d = new Date();
    document.getElementById('id_jsdectime_end').value = d.getTime();
  }
</script>

<style>
.otree-title {
  font-size: 0;
}

</style>

{% endblock %}
