{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Part 1 Section 2
{% endblock %}

{% block content %}
<h1 style="font-size: 35px;">Part 1 Section 2</h1>

<body onload="setStartTime()">

  <h3>Please answer the flollowing questions:</h3>

<!-- Please Write the Contents Here -->






</body>

<button class="btn btn-primary btn-large" onclick="end()">
  Next
</button>

<input type="hidden" name="dt_start" id="id_jsdectime_start" value=0>
<input type="hidden" name="dt_end" id="id_jsdectime_end" value=0>

<script>
  function setStartTime() {
    var d = new Date();
    document.getElementById('id_jsdectime_start').value = d.getTime();
  }
  function end() {
    var d = new Date();
    document.getElementById('id_jsdectime_end').value = d.getTime();
  }
</script>

<style>
.otree-title {
  font-size: 0;
}

</style>

{% endblock %}
